:root {
  --color-primario: #272727;
  --color-secundario: #ecf0f1;
  --color-acento: #e74c3c;
  --color-fondo: #272727;
  --color-texto: #ffffff;
  --color-link: #3498db;
  --color-warning: #f39c12;
}
