.primary {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4e4e;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none; // Para evitar el outline por defecto en navegadores
}

.primary:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #520051;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

/* Aplica el mismo efecto tanto en hover como en focus */
.primary:hover::after,
.primary:focus::after {
  right: auto;
  left: 0;
  width: 100%;
}

.primary span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

/* Efecto en el texto al hover y focus */
.primary:hover span,
.primary:focus span {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
}

/* Opcional: Personaliza el outline en focus para mejorar la visibilidad */
.primary:focus {
  box-shadow: 0 0 0 3px rgba(82, 0, 81, 0.5);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
