<div class="row text-center p-3">
  <div class="col text-center">
    <button class="primary m-1" routerLink="/match">
      <span>Combate</span>
    </button>
  </div>
  <div class="col text-center">
    <button class="primary m-1" routerLink="/match">
      <span>Opciones</span>
    </button>
  </div>
  <div class="col text-center">
    <button class="primary m-1" routerLink="/match">
      <span>Cronometro</span>
    </button>
  </div>
  <div class="col text-center">
    <button class="primary m-1" routerLink="/match">
      <span>Concurso</span>
    </button>
  </div>
</div>
